//! **************************************************************************
// Written by: Map O.61xd on Tue Feb 25 06:40:22 2014
//! **************************************************************************

SCHEMATIC START;
COMP "CA" LOCATE = SITE "L14" LEVEL 1;
COMP "CB" LOCATE = SITE "H12" LEVEL 1;
COMP "CC" LOCATE = SITE "N14" LEVEL 1;
COMP "CD" LOCATE = SITE "N11" LEVEL 1;
COMP "CE" LOCATE = SITE "P12" LEVEL 1;
COMP "CF" LOCATE = SITE "L13" LEVEL 1;
COMP "CG" LOCATE = SITE "M12" LEVEL 1;
COMP "AN0" LOCATE = SITE "F12" LEVEL 1;
COMP "AN1" LOCATE = SITE "J12" LEVEL 1;
COMP "AN2" LOCATE = SITE "M13" LEVEL 1;
COMP "AN3" LOCATE = SITE "K14" LEVEL 1;
COMP "CDP" LOCATE = SITE "N13" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "DATA_MOUSE" LOCATE = SITE "C3" LEVEL 1;
COMP "RESET" LOCATE = SITE "A7" LEVEL 1;
COMP "MouseStatus<0>" LOCATE = SITE "G1" LEVEL 1;
COMP "MouseStatus<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "MouseStatus<2>" LOCATE = SITE "N4" LEVEL 1;
COMP "MouseStatus<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "CLK_MOUSE" LOCATE = SITE "B1" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

